.fluxslider .pagination {
	overflow:hidden;
	padding: 10px 0;
}

.fluxslider .pagination li {
	text-indent: -9999px;
	height:8px;
	width:8px;
	background:rgba(0, 0, 0, 0.8);
	
	-moz-border-radius:			10px;
	-webkit-border-radius: 	10px;
	-o-border-radius:				10px;
	-ms-border-radius:			10px;
	-khtml-border-radius:		10px;
	border-radius:					10px;
	
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 		0 1px 0 rgba(255, 255, 255, 0.1);
	-o-box-shadow: 			0 1px 0 rgba(255, 255, 255, 0.1);
	-ms-box-shadow: 		0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: 				0 1px 0 rgba(255, 255, 255, 0.1);
}

.fluxslider .pagination .current {
	background: rgba(0, 0, 0, 0.3);
}