@import "boilerplate.css";
/* RESETS
================================================== */
/* VARIABLES/MIXINS
================================================== */
/* VARIABLES
================================================== */
/* MIXINS
================================================== */
/* REUSABLE STYLES
================================================== */
#masthead,
.page-nav,
.page-nav ul,
.page-nav li {
  zoom: 1;
}
#masthead:after,
.page-nav:after,
.page-nav ul:after,
.page-nav li:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* UNIVERSAL STYLES
================================================== */
body {
  font: 0.9em/1.2 "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: #fcfcfc;
}
a:link {
  color: #4d8420;
}
a:hover, a:focus {
  color: #66a235;
}
a:visited, a:active {
  color: #355b16;
}
code {
  font: 0.8em/1 menlo, monaco, consolas, "Lucida Console", courier, monospace;
}
img,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 2em 0;
}
/* Typography
-------------------------------------------------- */
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
/* Header
-------------------------------------------------- */
#masthead {
  margin-bottom: 2em;
}
#masthead h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0.2em;
}
#masthead h1 a {
  text-decoration: none;
}
#masthead h1 a:link,
#masthead h1 a:hover,
#masthead h1 a:focus,
#masthead h1 a:visited,
#masthead h1 a:active {
  color: rgba(34, 34, 34, 0.9);
}
#masthead h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  color: rgba(34, 34, 34, 0.8);
}
.page-nav ul {
  list-style: none;
  margin-bottom: 0;
}
.page-nav .current > a {
  color: #222222;
}
/* Includes
-------------------------------------------------- */
.gallery, .slideshow {
  margin: 3em 0 4em;
}
.gallery img {
  display: inline-block;
  margin: 10px 10px 0 0;
  border: 1px solid #666;
}
/* Home
-------------------------------------------------- */
#home #primary > h1 {
  display: none;
}
#intro {
  font: italic 1.2em/1.4 georgia, "Times New Roman", times, serif;
  color: #555555;
}
/* Blog Posts
-------------------------------------------------- */
article {
  padding: 1em 0 1.5em;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
article:first-of-type {
  border-top: none;
}
article h1 {
  margin-top: 0;
}
article footer {
  color: #555555;
}
/* Footer
-------------------------------------------------- */
#footer {
  font: italic 1em georgia, "Times New Roman", times, serif;
  margin: 5em 0 3em;
  color: #6f6f6f;
}
/* RESPONSIVE BREAK POINTS
================================================== */
@media screen and (max-width: 700px) {
  /* VARIABLESS/MIXINS
  ================================================== */
  /* VARIABLES
  ================================================== */
  /* MIXINS
  ================================================== */
  /* GLOBAL
  ================================================== */
  #masthead > *, #wrapper {
    width: 85%;
    min-width: 250px;
    margin: 0 auto;
  }
  /* Header
  -------------------------------------------------- */
  #masthead {
    padding: 1em 0;
    margin-bottom: 2em;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  }
  #masthead .page-nav {
    margin: 1.5em auto 1em;
  }
  #masthead .page-nav ul ul {
    margin-left: 2em;
  }
  #masthead .page-nav li {
    line-height: 1.5;
  }
  /* BLOG POSTS
  ================================================== */
  article footer {
    margin-top: 2em;
  }
  article footer .pubdate p, article footer .tags ul, article footer h3 {
    margin: 0;
  }
  article footer h3 {
    font-size: 1em;
    float: left;
    width: 4.5em;
    font-weight: bold;
  }
  article footer h3::after {
    content: ":";
  }
  article footer .tags li {
    display: inline;
  }
  article footer .tags li::after {
    content: ",";
  }
  article footer .tags li:last-child::after {
    content: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 700px) {
  /* VARIABLESS/MIXINS
  ================================================== */
  /* VARIABLES
  ================================================== */
  /* MIXINS
  ================================================== */
}
@media screen and (min-width: 701px) {
  /* VARIABLESS/MIXINS
  ================================================== */
  /* VARIABLES
  ================================================== */
  /* MIXINS
  ================================================== */
  /* GLOBAL
  ================================================== */
  #masthead hgroup *, .page-nav, #wrapper {
    width: 80%;
    margin: 0 auto;
  }
  /* Header
  ================================================== */
  #masthead hgroup {
    background-color: #ffffff;
  }
  #masthead hgroup, .page-nav li a, .page-nav ul {
    border: 0 solid rgba(0, 0, 0, 0.15);
  }
  #masthead hgroup {
    padding: 2em 0;
    border-bottom-width: 1px;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  }
  .page-nav a, .page-nav li ul ul::before {
    line-height: 2;
  }
  .page-nav a {
    text-decoration: none;
    color: #4d8420;
  }
  .page-nav > ul > li:hover > a,
  .page-nav > ul > li:focus > a,
  .page-nav > ul > li.current > a,
  .page-nav li ul {
    background-color: #fcfcfc;
    background-image: -ms-linear-gradient(bottom, #fcfcfc 0%, #ffffff 100%);
    background-image: -o-linear-gradient(bottom, #fcfcfc 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(bottom, #fcfcfc 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(bottom, #fcfcfc 0%, #ffffff 100%);
    background-image: linear-gradient(to top, #fcfcfc 0%, #ffffff 100%);
  }
  .page-nav > ul > li {
    position: relative;
    float: left;
  }
  .page-nav > ul > li:first-child > a {
    border-left-width: 1px;
  }
  .page-nav > ul > li > a {
    line-height: 2.5;
    display: inline-block;
    padding: 0 1em;
    border-right-width: 1px;
  }
  .page-nav > ul > li:hover > a, .page-nav > ul > li:focus > a {
    position: relative;
    z-index: 3;
  }
  .page-nav > ul > li:hover > a, .page-nav > ul > li:focus > a, .page-nav > ul > li.current > a {
    box-shadow: 10px -2px 10px -2px rgba(0, 0, 0, 0.03), -10px -2px 10px -2px rgba(0, 0, 0, 0.03);
  }
  .page-nav li li {
    position: relative;
    white-space: nowrap;
    text-shadow: 1px 1px 0 #ffffff;
  }
  .page-nav li li:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .page-nav li li a {
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 2em 0 1em;
  }
  .page-nav li li.parent > a::after {
    position: absolute;
    right: 0.5em;
    content: "\25B8";
    color: rgba(0, 0, 0, 0.3);
  }
  .page-nav li ul {
    display: none;
    position: absolute;
    z-index: 2;
    margin: -1px 0 0 -1px;
    border-width: 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .page-nav li ul ul {
    top: 0;
    left: 100%;
  }
  .page-nav li:hover > ul {
    display: block;
  }
  /* BLOG POSTS
  ================================================== */
  article {
    position: relative;
    padding-left: 33%;
  }
  article footer {
    width: 28%;
    position: absolute;
    top: 0;
    left: 0;
  }
  article footer h3 {
    display: none;
  }
  article footer .pubdate {
    line-height: 2;
  }
  article footer .tags ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  article footer .tags li {
    color: rgba(34, 34, 34, 0.30000000000000004);
  }
  article footer .tags li::before {
    position: relative;
    top: 0.1em;
    content: "#";
    margin-right: 0.2em;
  }
}
@media screen and (min-width: 1000px) {
  /* VARIABLESS/MIXINS
  ================================================== */
  /* VARIABLES
  ================================================== */
  /* MIXINS
  ================================================== */
  /* GLOBAL
  ================================================== */
  #wrapper {
    max-width: 1000px;
  }
  /* HOME
  ================================================== */
  #intro {
    -ms-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 2em;
    -ms-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
  }
}
