@import "reset.css";
/* VARIABLES/MIXINS
================================================== */
/* REUSABLE STYLES
================================================== */
body > header, body > header nav, body > header nav li {
  zoom: 1;
}
body > header:after, body > header nav:after, body > header nav li:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* GLOBAL
================================================== */
body {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto 0;
  font: 16px/1.2 calibri, candara, "Helvetica Neue", helvetica, arial, sans-serif;
}
a:link {
  color: #4d8420;
}
a:hover, a:focus {
  color: #66a235;
}
a:visited, a:active {
  color: #355b16;
}
p {
  margin-bottom: 1em;
}
/* Header
-------------------------------------------------- */
body > header {
  margin-bottom: 2em;
}
body > header hgroup {
  float: left;
}
body > header h1 a {
  display: block;
  font-family: georgia, "Times New Roman", times, serif;
  font-size: 2em;
  line-height: 1.8;
  text-decoration: none;
}
body > header h1 a:link,
body > header h1 a:hover,
body > header h1 a:focus,
body > header h1 a:visited,
body > header h1 a:active {
  color: rgba(17, 17, 17, 0.9);
}
body > header h2 {
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgba(17, 17, 17, 0.8);
}
body > header nav {
  margin-top: 1em;
  float: right;
}
body > header nav li {
  position: relative;
  margin-right: 1em;
  float: left;
}
body > header nav li > a {
  line-height: 1.8;
}
body > header nav li li {
  display: none;
  float: none;
  background: #f9f9f9;
  white-space: nowrap;
  padding-right: 1em;
}
body > header nav li li:hover {
  background-color: #eee;
}
body > header nav li li a {
  display: block;
  width: 100%;
  line-height: 1.7;
  padding: 0 0.5em;
}
body > header nav li li a, body > header nav li li ul {
  float: left;
}
body > header nav li ul {
  position: absolute;
  z-index: 99;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 #ffffff;
}
body > header nav li ul li {
  margin-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body > header nav li ul li:last-child {
  border-bottom: none;
}
body > header nav li ul ul {
  left: 100%;
  color: rgba(0, 0, 0, 0.3);
}
body > header nav li ul ul::before {
  position: absolute;
  right: 100%;
  content: "\25B8";
  line-height: 1.7;
  margin-right: 0.5em;
}
body > header nav li ul a {
  text-decoration: none;
}
body > header nav li:hover > ul > li {
  display: block;
}
body > header nav li.current > a {
  font-weight: bold;
}
/* Footer
-------------------------------------------------- */
body > footer {
  font: italic 0.9em georgia, "Times New Roman", times, serif;
  margin: 6em 0 3em;
  opacity: 0.6;
}
/* BLOG POSTS
================================================== */
article {
  position: relative;
  padding: 1em 0 1em 25%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
article:last-child {
  border-bottom: none;
}
article h1 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
article footer {
  width: 20%;
  position: absolute;
  top: 1em;
  left: 0;
  color: #444444;
}
article footer h3 {
  display: none;
}
article footer .posted {
  line-height: 1.5;
}
article footer .tags ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
article footer .tags li {
  color: rgba(17, 17, 17, 0.30000000000000004);
}
article footer .tags li::before {
  position: relative;
  top: 0.1em;
  content: "#";
  margin-right: 0.2em;
}
/* INCLUDES
================================================== */
.gallery, .slideshow {
  margin: 40px auto 50px;
}
.gallery img {
  display: inline-block;
  margin: 10px 10px 0 0;
  border: 1px solid #666;
}
/* HOME
================================================== */
#intro {
  font: italic 1.2em georgia, "Times New Roman", times, serif;
  color: #444444;
  margin-bottom: 2em;
}
