body {
	width: 70%;
	margin: 30px auto 0;
	font: 14px/1.2 "Lucida Grande", sans-serif;
}

body > header h1 {
	background-color: #eee;
	border-radius: 10px;
	padding: 15px 20px;
	text-shadow: 1px 1px white;
	text-align: center;
	font: 24px georgia, "Times New Roman", times, serif;
	font-style: italic;
	font-weight: normal;
}

.gallery,
.slideshow {
	margin: 40px auto 50px;
}

.gallery img {
	display: inline-block;
	margin: 10px 10px 0 0;
	border: 1px solid #666;
}

article {
	position: relative;
	margin-top: 20px;
	border-top: 1px solid #ccc;
}

article footer {
	font-size: 0.9em;
	color: gray;
}

article footer h3 {
	font-size: 1em;
	float: left;
	margin: 0;
	margin-right: 10px;
}

article footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

article footer li {
	display: inline;
}

article footer li:after {
	content: ", ";
}

article footer li:last-child:after {
	content: "";
}

body > footer {
	background-color: #eee;
	padding: 15px 20px;
	margin-top: 60px;
}

nav .current > a {
	font-weight: bold;
}