/* RESETS
================================================== */

@import "boilerplate.css";


/* VARIABLES/MIXINS
================================================== */

@import "vars.less";


/* REUSABLE STYLES
================================================== */

/* Clearfix
-------------------------------------------------- */

.page-nav,
.page-nav ul,
.page-nav li,
#intro {
  zoom: 1;
	&:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
	}
}


/* UNIVERSAL STYLES
================================================== */

html, body {
	height: 100%;
}

body {
	font: 1em/1.4 @sansFonts;
	background-color: @mainBg;
}

a {
	&:link {
		color: @linkColor;
		text-decoration: none;
	}
	
	&:visited,
	&:active {
		color: @linkColorVisited;
	}

	&:hover,
	&:focus {
		color: @linkColorHover;
		text-decoration: underline;
	}
}

ul, ol {
	padding-left: 2.2em;
}

p > img {
	margin: 0 0 1em 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

//must be separate
::-moz-selection { background: rgba(0,125,255,0.6); }
::selection { background: rgba(0,125,255,0.6); }

code {
	font: 0.8em/1 @monoFonts;
}

img, iframe, 
embed, object {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 2em 0;
}

blockquote {
	margin-left: 0;
	padding-left: 0.8em;
	font: italic 1.1em/1.4 @serifFonts;
	border-left: 0.2em solid rgba(0,0,0,0.15);

	cite {
		font-size: 0.8em;
		font-style: normal;
		color: fadeout(@textColor, 20);

		&::before {
			content: "\2014\00A0";
		}
	}
}

table {
	tr:nth-child(even) {
		background-color: rgba(0,0,0,0.03);
	}

	th {
		text-align: left;
		
		&:empty {
			border: none;
		}
	}

	th, td {
		border: 1px solid #bbb;
		padding: 0.3em 0.5em;
	}
}


/* Typography
-------------------------------------------------- */

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}


/* Admin Links
-------------------------------------------------- */

#admin-links {
	position: absolute;
	right: 0.5em;
	top: 0.6em;

	a {
		display: block;
		float: left;
		background-color: rgba(0,0,0,0.7);
		color: white;
		text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
		font-weight: bold;
		text-decoration: none;
		font-size: 0.7em;
		text-transform: uppercase;
		border-radius: 2px;
		padding: 0 0.4em;
		line-height: 1.5;
		margin-left: 0.5em;

		&:hover,
		&:focus,
		&:active {
			background-color: black;
		}
	}
}


/* Header
-------------------------------------------------- */

#masthead {
	margin-bottom: 2em;
	
	h1 {
		font-size: 2.5em;
		margin: 0;
		letter-spacing: -0.04em;
	}
	
	h1 a {
		text-decoration: none;
		
		&:link,
		&:hover,
		&:focus,
		&:visited,
		&:active {
			color: fadeout(@textColor, 10);
		}
	}
	
	h2 {
		margin: 0;
		font-size: 1.1em;
		font-weight: normal;
		font-style: italic;
		font-family: @serifFonts;
		color: fadeout(@textColor, 30);
	}
}

.page-nav {
	ul {
		list-style: none;
		margin-bottom: 0;
	}

	.current > a {
		color: @textColor;
	}
}


/* Includes
-------------------------------------------------- */

.gallery {
	margin: 1em 0 1.5em;
}

.slideshow {
	margin: 2em 0;
}

.gallery img {
	display: inline-block;
	margin: 10px 10px 0 0;
	border: 1px solid #666;
}


/* Blog Posts
-------------------------------------------------- */

article {
	padding: 1em 0 1.5em;
	border-top: 1px solid rgba(0,0,0,0.15);
	
	&:first-of-type {
		border-top: none;
	}
	
	h1 {
		margin-top: 0;
	}
	
	footer h3 {
		color: fadeout(@textColor, 65);
	}
	
	.pubdate {
		color: lighten(@textColor, 30);
	}
}


/* POST ARCHIVES
================================================== */

.year-block > h2 a,
.month-block > h3 a {
	color: fadeout(@textColor, 50);
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

#drafts-all,
#posts-all,
#posts-by-date {
	article {
		padding-bottom: 0;

		h1, p, footer {
			margin: 0;
		}

		h1 {
			font-size: 1.1em;
		}

		footer {
			font-size: 0.9em;

			h3 {
				display: none;
			}

			.tags {
				&::before {
					float: left;
					content: "in\00A0";
				}

				ul {
					padding: 0;
				}
			}
		}
	}
}

#drafts-all article {
	border: none;
	footer {
		h3, p, ul {
			display: inline;
		}

		h3::after {
			content: ":";
		}

		.tags::before {
			content: none;
		}
	}
}


/* FOOTER
================================================== */

#footer {
	font-size: 0.9em;
	padding: 1em 0 4em;
	margin-top: 4em;
	border-top: 1px solid rgba(0,0,0,0.1);
	box-shadow: inset 0 30px 10px -20px rgba(0,0,0,0.02);
	color: fadeout(@textColor, 30);

	a {
		color: fadeout(@linkColor, 30);
	}
}


/* HOME
================================================== */

#home .main > h1 {
	display: none;
}

#intro {
	margin-bottom: 1em;
	font: italic 1.2em/1.4 @serifFonts;
	color: lighten(@textColor, 20);
}


/* 404
================================================== */

#goog-fixurl {
	ul {
		list-style: none;
		padding: 0;
	}

	input {
		margin-right: 1ex;
	}
}


/* RESPONSIVE BREAK POINTS
================================================== */

@media screen and (max-width: 700px) {
	@import "small.less";
}

/*@media screen and (min-width: 481px) and (max-width: 700px) {
	@import "medium.less";
}*/

@media screen and (min-width: 701px) {
	@import "large.less";
}

/*@media screen and (min-width: 1000px) {
	@import "xlarge.less";
}*/