@import url("reset.css");
body {
  font: 14px/1.6 "Helvetica Neue", helvetica, arial, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 0 #ffffff;
  background: #464646 url(../images/pixels.gif);
}
#wrapper {
  width: 80%;
  max-width: 700px;
  position: relative;
  margin: 30px auto 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.hidden {
  display: none;
}
.button {
  margin: 0;
  display: inline-block;
  font: 0.9em "Helvetica Neue", helvetica, arial, sans-serif;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
  padding: 0 0.8em;
  line-height: 1.9;
  background-color: white;
  text-shadow: 1px 1px 0 white;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 -11px 3px rgba(0, 0, 0, 0.05), 1px 1px 0 white;
  -webkit-box-shadow: inset 0 -11px 3px rgba(0, 0, 0, 0.05), 1px 1px 0 white;
}
.button:hover, .button:focus {
  color: #0a2c43;
  background: #f0f9ff;
  box-shadow: inset 0 -11px 3px rgba(0, 70, 150, 0.05), 1px 1px 0 white;
  -webkit-box-shadow: inset 0 -11px 3px rgba(0, 70, 150, 0.05), 1px 1px 0 white;
}
.button:active, .button.active {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.9);
  background: #e1f3ff;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 white;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 white;
}
@-webkit-keyframes pulse {
  from {
    background: #e1f3ff;
  }
  50% {
    background: #c7e8ff;
  }
  to {
    background: #e1f3ff;
  }
}
.button.active {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
header {
  padding: 0 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fcfcfc;
  line-height: 40px;
  background-color: #222;
  box-shadow: inset 0 -20px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 -20px 20px rgba(0, 0, 0, 0.3);
  zoom: 1;
}
header:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
header h1 {
  font-weight: bold;
  float: left;
  text-shadow: 1px 1px 0 black;
}
header nav li {
  display: inline-block;
  padding-left: 38px;
  color: #7d7d7d;
  text-shadow: -1px -1px 0 black;
  background: url(../images/breadcrumb.png) no-repeat 0 50%;
}
header nav li a {
  display: block;
  color: #b0b0b0;
}
header nav li a:hover, header nav li a:focus, header nav li a:active {
  color: #7d7d7d;
}
header nav li.current {
  color: #e3e3e3;
}
header .button {
  padding: 0 0.6em;
  line-height: 1.8;
  position: absolute;
  right: 18px;
  top: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #191919;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  box-shadow: inset 0 -11px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 -11px 3px rgba(0, 0, 0, 0.7);
}
header .button:hover, header .button:focus {
  color: rgba(255, 255, 255, 0.8);
  background-color: #222;
  box-shadow: inset 0 -11px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 -11px 3px rgba(0, 0, 0, 0.4);
}
header .button:active {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
}
label, p {
  margin-right: 0.2em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.35);
}
p {
  margin: -0.5em 0 1.4em 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
a {
  color: #1e82c8;
}
a:hover, a:active, a:focus {
  color: #11486f;
}
.notify {
  height: auto;
  opacity: 1;
  margin: 1em 0 0;
  padding: 0.5em 0.8em;
  background-color: #ffc;
  border: 1px solid #e5e600;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: 0.1s linear;
  -webkit-transition-property: opacity, height, margin;
}
.notify a {
  text-shadow: none;
  visibility: visible;
}
.notify.collapsed {
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
.notify.collapsed a {
  visibility: hidden;
}
section, #login, #submit {
  overflow: hidden;
  padding: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fcfcfc;
  box-shadow: inset 0 -20px 20px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: inset 0 -20px 20px rgba(0, 0, 0, 0.02);
}
section h1, #login h1, #submit h1 {
  font-size: 1.2em;
  line-height: 1;
  margin-bottom: 0.6em;
}
section div, #login div, #submit div {
  margin-top: 0.5em;
}
input, select {
  outline: none;
  color: rgba(0, 0, 0, 0.8);
}
input[type=text], input[type=password] {
  font: 1em "Helvetica Neue", helvetica, arial, sans-serif;
  position: static;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.3em;
  border-radius: 2px;
  width: 100%;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input[type=text].highlight, input[type=password].highlight {
  background-color: #ffd;
}
.sortable div, .sortable label {
  cursor: move;
}
#recache-button {
  float: left;
  margin-top: 0.5em;
}
#page-list {
  font-size: 0.9em;
}
#page-list ol {
  position: relative;
}
#page-list ol ol {
  padding-left: 1.8em;
}
#page-list ol ol::before {
  content: "\2514";
  position: absolute;
  left: 3px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.6);
}
#page-list li {
  margin: 8px 0;
}
#page-list li div {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3px 5px;
  border-radius: 2px;
  margin: 0;
  box-shadow: inset 0 -20px 20px -20px rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -20px 20px -20px rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.2);
}
#page-list li label {
  color: #1e82c8;
  text-transform: none;
  font-size: 1em;
  font-weight: normal;
}
#page-list label {
  margin: 0;
}
#page-list input:disabled + label, #page-list input:not(:checked) + label {
  color: rgba(0, 0, 0, 0.4);
}
#admin > div {
  float: left;
  width: 48.5%;
}
#admin > div  + div {
  float: right;
}
#login, #submit {
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#submit label {
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}
#submit label::after {
  padding-left: 1px;
  content: ":";
}
#login .message {
  margin-bottom: 10px;
}
#login #pass-field {
  margin: 0 70px 0 0;
}
#login #login-button {
  position: absolute;
  right: 18px;
  bottom: 3.5em;
}
#cancel {
  position: absolute;
  right: 20px;
  bottom: 25px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #900;
  opacity: 0.7;
}
#cancel:hover, #cancel:active, #cancel:focus {
  opacity: 1;
}
.message {
  padding: 0.5em;
  text-align: center;
  border-radius: 2px;
  margin: 0.25em 0 2em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: none;
  font-size: 1em;
  font-weight: normal;
}
.message.failure {
  background-color: rgba(200, 0, 0, 0.2);
  border: 1px solid maroon;
  color: maroon;
}
.message.success {
  background-color: rgba(0, 200, 0, 0.2);
  border: 1px solid green;
  color: green;
}
@media (max-width: 600px) {
  #wrapper {
    margin: 0;
    width: 100%;
    min-width: 300px;
  }
  header, #login, #submit {
    border-radius: 0;
  }
  .notify {
    display: none;
  }
  #wrapper #admin > div {
    float: none;
    width: auto;
  }
}
